<div class='app-layout'>
  <header id='app_header' class='app-header hidden'>
    <div class='logo'></div>
    <nav id='nav'>
      <a href='#1' class='current'>Step 1</a>
      <a href='#2' class='locked'>Step 2</a>
      <a href='#3' class='locked'>Step 3</a>
      <a href='#4' class='locked'>Step 4</a>
      <a href='#5' class='locked'>Step 5</a>
      <a href='#6' class='locked'>Step 6</a>
    </nav>
  </header>

  <section id='app_welcome' class='app-welcome'>
    <div class='buttons'>
      <button id='start'>Get Started</button>
    </div>
  </section>

  <section id='app_wizzard' class='app-wizzard hidden'>
    <div class='app-screen gender'>
      <div class='buttons'>
        <button class='next-screen'>Male</button>
        <button class='next-screen'>Female</button>
      </div>
    </div>

    <% @questions.all.each do |q| %>
    <div class='app-screen question hidden'>
      <h2><%= q.title %></h2>
      <ul class='choices'>
        <% q.answers.all.each do |a| %>
        <li class='next-screen' data-id='<%= a.id %>'>
          <%= image_tag a.image.grid.url, alt: a.title %>
          <strong><%= a.title %></strong>
        </li>
        <% end %>
      </ul>
    </div>
    <% end %>

    <div class='app-screen result hidden'>
      <div class='character'></div>
      <div class='details'>
        <h1>Bingo!</h1>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.</p>

        <div class='subscription'>
          <h4 style='margin-bottom: 10px;'>Join Newsletter</h4>
          <input type='email' placeholder='Email' style='width: 260px;'> <input type='submit' value='Submit'>
        </div>

        <div class='share' style='margin-top: 30px;'></div>
      </div>
    </div>
  </section>
</div>