.question                             {
  h2                                  { text-align: center;
                                        margin-top: 8px;
  }
}
.choices                              { list-style: none;
                                        padding: 0 10px;
                                        margin: 0px auto;

  li                                  { display: block;
                                        width: 322px;
                                        height: 204px;
                                        float: left;
                                        text-align: center;
                                        color: #444;
                                        background: image-url('answer-bg.png') no-repeat center center;
                                        margin: 5px;
    img                               { width: 296px;
                                        height: 177px;
                                        margin-top: 12px;
    }
  }
}