.result                               {
  .photo                              { width: 50%;
                                        height: 100%;
                                        position: absolute;
                                        left: 0;
                                        background: url(http://placehold.it/500x900) no-repeat center center;
  }
  .details                            { position: absolute;
                                        left: 50%;
                                        width: 50%;
                                        padding: 20px 40px;
  }
  input                               { line-height: 40px;
                                        padding: 0 10px;
                                        border: 1px solid #888;
                                        min-width: 120px;
  }
}