.result                               {
  .character > h2                     { text-align: center;
                                        margin: 8px 0 5px;
  }
  .details                            { width: 661px;
                                        height: 426px;
                                        background: image-url('result-bg.png') no-repeat center center;
                                        margin: 0 auto;
  }
  input.string                        { padding: 10px;
                                        border: none;
                                        border-radius: 5px;
                                        height: 32px;
                                        width: 100%;
                                        background-color: #eff0f7;
                                        box-shadow: inset 0px 1px 3px 0 rgba(0,0,0,0.2);
  }
  abbr                                { display: none;
  }
  select                              { height: 32px;
                                        width: 100%;
  }
  .webmaster_message_reply_to         { margin-right: 10px;
  }
  .webmaster_message_reply_to,
  input[type=submit]                  { float: left;
                                        width: 156px;
                                        border: 2px solid #fe7c19;
                                        border-radius: 20px;
                                        color: #fe7c19;
                                        font-weight: 600;
                                        font-size: 20px;
                                        text-transform: uppercase;
                                        background: #fff;
                                        padding: 8px 0 6px;
                                        line-height: 1;
                                        margin-top: 14px;
    &:focus                           { outline: none;
    }
  }
  .subscription                       { width: 50%;
                                        float: right;
                                        padding: 16px 20px 16px 16px;
                                        margin-left: 15px;
    h2 + p                            { font-size: 12px;
                                        margin: 0 0 14px;
    }
  }
  label                               { display: block;
                                        text-transform: uppercase;
                                        font-size: 12px;
                                        font-weight: 600;
                                        margin-top: 10px;
  }
  .restart                            { margin: 100px auto 0;
                                        display: block;
                                        height: 62px;
                                        border-radius: 31px;
    img                               { width: 20px;
                                        margin-right: 10px;
    }
  }
  .profile                            { width: 295px;
                                        margin-left: 20px;
                                        padding-top: 20px;
    img                               { width: 100%;
                                        border-radius: 4px;
    }
    p                                 { margin-top: 5px;
                                        font-size: 13px;
    }
  }
}