.result                               {
  .character > h2                     { text-align: center;
                                        margin-top: 20px;
  }
  .details                            { width: 661px;
                                        height: 426px;
                                        background: image-url('result-bg.png') no-repeat center center;
                                        margin: 0 auto;
  }
  input                               { line-height: 40px;
                                        padding: 0 10px;
                                        border: 1px solid #888;
                                        min-width: 120px;
  }
  .webmaster_message_reply_to         { margin-right: 10px;
  }
  .webmaster_message_reply_to,
  input[type=submit]                  { float: left;
  }
  .subscription                       { width: 50%;
                                        float: right;
                                        padding: 16px;
                                        margin-left: 10px;
    & > p                             { font-weight: 12px;
                                        margin: 0 0 16px;
    }
  }
  label                               { display: block;
                                        text-transform: uppercase;
                                        font-size: 12px;
                                        font-weight: 600;
  }
  .restart                            { margin: 30px auto 0;
                                        display: block;
  }
  .description                        { padding: 16px; }
}